@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Signika:400,300);

body {
	color: #333333;
	font-family: "Signika", sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
}

/*************** TYPOGRAPHY ***************/
h1, h2, h3, h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-style: normal;
}
h2, .h2 {
    font-size: 29px; 
    line-height: 29px;
    color: rgba(203,30,65,1);
    text-transform: uppercase;
    letter-spacing: .034em;
    margin: 0px 0px 24px 0px;
}
h2.large {
	font-size: 39px;
	line-height: 39px;
}
h2 span {
	font-size: 29px;
	font-weight: 400;
}
h4 {
	font-weight: 400;
	text-transform: uppercase;
}

/*************** BUTTONS ***************/
.cts-button {
	cursor: pointer;
	line-height: normal;
	margin: 0 0 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-right: 2rem;
	padding-left: 2rem;
	font-size: 1rem;
	border-color: #07243c;
	color: #fff;
	background: #cb1e41;
	background: #e899a9;
	background: #d33f5d;
	background: -moz-linear-gradient(top,#d33f5d 20%,#cb1e41 80%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#d33f5d),color-stop(80%,#cb1e41));
	background: -webkit-linear-gradient(top,#d33f5d 20%,#cb1e41 80%);
	background: -o-linear-gradient(top,#d33f5d 20%,#cb1e41 80%);
	background: -ms-linear-gradient(top,#d33f5d 20%,#cb1e41 80%);
	background: linear-gradient(to bottom,#d33f5d 20%,#cb1e41 80%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d33f5d', endColorstr='#cb1e41', GradientType=0);
	-webkit-box-shadow: 0 0 0 11px rgba(255,255,255,.2);
	box-shadow: 0 0 0 11px rgba(255,255,255,.2);
	border-top: 1px solid #e899a9;
	border-bottom: 1px solid #8a142c;
	border-radius: 1000px;
	font-family: Montserrat,sans-serif;
	font-weight: 700;
	padding-top: 11px;
	padding-bottom: 11px;
	text-transform: uppercase;
}
.cts-button:hover {
	background: #cb1e41;
	border-top: 1px solid #8a142c;
	border-bottom: 1px solid #8a142c;
	box-shadow: 0 0 0 11px rgba(255,255,255,.4);
}
.cta-buttons {
	margin-top: 47px;
}

/*************** MISC ***************/

.panel {
border-style: solid;
border-width: 1px;
border-color: #d9d9d9;
margin-bottom: 1.25rem;
padding: 1.25rem;
background: #f2f2f2;
}