/******************************************************************

Stylesheet: CTS Specific Styles
Measurements based on a Modular Scale:
Ideal type size: 16px; Important number: 18px; 1:1:618: - golden section 
http://modularscale.com/scale/?px1=16&px2=18&ra1=1.618&ra2=0

******************************************************************/

/*************** MOVE CONTENT DOWN WHEN LOGGED-IN ***************/
body.admin-bar .header-full {
margin-top: 32px;
}

/*************** HEADER ***************/
.header-full {
	background-color: rgba(10,50,83,.8);
	border-top: 8px solid $secondary-color;
}
h1.logo {
	margin-top: 8px;
	margin-bottom: 8px;
	position: absolute;
	z-index: 1000;
}
.nav-secondary a {
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 26px;
	height: 26px;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px rgba(15, 47, 74, 0.5);
}
.nav-secondary a:hover {
	opacity: 0.8;
}
.header-login {
	background: $secondary-color;
	padding-left: 8px;
	padding-right: 8px;
}
.nav-main {
	clear: both;
}
.top-bar section .right {
	background: none;
}
.cbp-hsmenu-wrapper a {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
/*************** DEEP NAV ***************/
.deep-nav-container {
	background: url('../images/sidenav-bkd.png') repeat-y right top;	
	border-right: 1px solid #ccc;
	margin-top: -48px;
	margin-bottom: -48px;
	padding-top: 48px;
	padding-bottom: 48px;
}
.side-nav > li {
	border-bottom: 1px solid #ccc;
}

/*************** FOOTER ***************/
.cts-partner-logos {
	display: inline-block;
	margin: 10px;
}

.cts-footer {
	background-color: #151e27;
	padding-top:48px;
	padding-bottom:48px;
}
.side-nav-footer {
	@include side-nav();
	padding-top: 0;
}
.side-nav-footer {
	li a {
		font-family: $heading-font-family;
		font-weight: 400;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 7px;
	}
	li a:hover {
		color: #a7a9ab;
		color: rgba(255,255,255,.5);
	}
	li a:hover {

	}
	li ul {
		list-style-type: none;
		list-style-position: inside;
		margin-left: 0;
		margin-bottom: 16px;
		line-height: 13px;
	}
	li ul a {
		font-family: $body-font-family;
		font-weight: $body-font-weight;
		font-size: 13px;
		text-transform: none;
		margin-bottom: 0;
	}
	li.footer-login a {
		color: $secondary-color;
	}
	li.footer-login a:hover {
		opacity: .5;
	}
}
.cts-footer-connect {
	color: #fff;
}
.cts-footer-connect {
	p, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
	h4 {
		font-size: 16px;
		margin-top: 0;
		text-transform: uppercase;
	}
}
.footer-social {
	ul {
		margin: 0;
		margin-right: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}
	ul li {
		list-style: none;
		float: left;
		margin-right: 10px;
		display: block;
	}
	.facebook a, .twitter a, .youtube a {
		background: url('../images/CTS-social-sprites.png');
		display: block;
		height: 36px;
		width: 36px;
		text-indent: -999999px;
	}
	.twitter a {
		background-position-x: -36px;
	}
	.youtube a {
		background-position-x: -72px;
	}
	a:hover {
		background-position-y: 36px;
	}
}
.footer-social, .footer-newsletter, .footer-cta {
	margin-bottom: 30px;
}
.cts-footer-newsletter {
	margin-bottom: 30px;
}
.cts-footer-newsletter label {
	font-family: $heading-font-family;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 7px;
}
.cts-footer-newsletter input[type="text"] {
	background-color: #2d353d;
	color: #fff;
	border: 1px solid #050f1b;
}
.footer-cta h4 {
	margin-bottom: 26px;
}

/*************** SECTIONS ***************/
.section-dark .row, .section-light .row, .section-xtralight .row, .section-xtradark .row {
	padding-top:48px;
	padding-bottom:48px;
}
.section-dark {
	background-color: $primary-color;
	color: #fff;
}
.section-dark {
	p {
		color: #fff;
	}
}
.section-xtradark {
	background-color: #2c2525;
	color: #fff;
}
.section-xtradark {
	h1, h2, h3, h4, p {
		color: #fff;
	}
}
.section-light {
	background: url('../images/lightpanelbkgd.jpg');
}
.section-xtralight {
	background: #fff;
}
.section-cta {
	background-color: #8aa79e;
	text-align: center;
	padding-top: 29px;
	padding-bottom: 29px;
}
.section-cta {
	a {
		color: #fff;
		font-family: $heading-font-family;
		font-size: 18px;
		text-transform: uppercase;
	}
	a:hover {
		opacity: 0.8;
	}
}
.section-bright-cta {
	background: $secondary-color;
}
.section-bright-cta {
	a {
		font-family: $heading-font-family;
		display: block;
		background: $secondary-color;
		color: #fff;
		padding-top: 16px;
		padding-bottom: 16px;
		text-align: center;
		text-transform: uppercase;
	}
	a:hover {
		background: #1673bb;
			-webkit-transition: background .5s ease;
		-moz-transition: background .5s ease;
		-ms-transition: background .5s ease;
		-o-transition: background .5s ease;
		transition: background .5s ease;

	}
}
/*************** TYPOGRAPHY ***************/
h1, h2, h3, h4, h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-style: normal;
}
h2, .h2 {
    font-size: 29px; 
    line-height: 29px;
    color: rgba(203,30,65,1);
    text-transform: uppercase;
    letter-spacing: .034em;
    margin: 0px 0px 24px 0px;
}
h2.large {
	font-size: 39px;
	line-height: 39px;
}
h4 {
	font-weight: 400;
	text-transform: uppercase;
}
h5 {
	color: #726c6a;
}

/*************** SPECIAL LINK STYLES ***************/
a:hover {
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-ms-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
}
a.arrowlink {
	font-weight: 700;
	padding-left: 10px;
}
a.arrowlink::after {
	margin-left: 10px;
	content: '»';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
a.arrowlink::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
a.arrowlink:hover::after, a.arrowlink:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*************** IMAGES ***************/
.hug-bottom {
	margin-bottom: -48px;
}

/*************** BUTTONS ***************/
.cts-button {
	@include button;
	background: $secondary-color;
	background: #e899a9; /* Old browsers */
	background: #d33f5d; /* Old browsers */
	background: -moz-linear-gradient(top,  #d33f5d 20%, #cb1e41 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#d33f5d), color-stop(80%,#cb1e41)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d33f5d 20%,#cb1e41 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d33f5d 20%,#cb1e41 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d33f5d 20%,#cb1e41 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #d33f5d 20%,#cb1e41 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d33f5d', endColorstr='#cb1e41',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0 0 0 11px rgba(255,255,255,.2);
	box-shadow: 0 0 0 11px rgba(255,255,255,.2);
	border-top: 1px solid #e899a9;
	border-bottom: 1px solid #8a142c;
	border-radius: $global-rounded;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	padding-top: 11px;
	padding-bottom: 11px;
	text-transform:	uppercase;
}
.cts-button:hover {
	background: $secondary-color;
	border-top: 1px solid #8a142c;
	border-bottom: 1px solid #8a142c;
	box-shadow: 0 0 0 11px rgba(255,255,255,.4);
}
.cta-buttons {
	margin-top: 47px;
}

/*************** HOMEPAGE ***************/
.home-hero {
	min-width: 960px;
	text-align: center;
}
.home-hero .orbit-container .orbit-slides-container>* .orbit-caption {
	width: 45%;
	background: none;
	color: #fff;
	margin-right: 67px;
	right: 0;
	top: 200px;
}
.home-hero {
	.orbit-container {
		max-height: 655px;
	}
	.orbit-container .orbit-slides-container img {
		width: 100%
	}
	.orbit-container .orbit-next, .orbit-container .orbit-prev {
		background-color: rgba(203,30,65,0.8);
		width: 39px;
		height: 39px;
		border-radius: 1000px;
	}
	.orbit-prev {
		margin-left: 39px;
	}
	.orbit-prev span {
		left: 8%;
	}
	.orbit-next {
		margin-right: 39px;
	}
}
.home-hero h2 {
	color: #fff;
	text-shadow: 0px 1px 2px rgba(15, 47, 74, 0.8);
}
.home-hero h2 span {
	font-size: 29px;
	font-weight:400;
}
.infographics {
	text-align: center;
}
.row.infographics-data {
	padding-top: 0;
}
.infographics-data img {
	margin-bottom: 29px;	
}
.infographics-title, .upcoming-camps-title {
	h2, h3{
		line-height: 39px;
		margin-bottom: 0;
	}
	h2 {
		color: $primary-color;
		font-size: 39px;
		letter-spacing: normal;
		text-transform: none;
	}
	h3 {
		color: #8aa79e;
	    font-size: 29px;
	    font-family: Signika, sans-serif;
	    font-weight: 400;
	    font-style: normal;
	}
}
.infographics-data h2 {
	margin-bottom: 11px;
}
.cts-story .row {
	background: url('../images/chris-monotone.jpg') no-repeat;
}
.row.featured-coaches {
	padding-top: 0;
}
.coach-block {
	display: block;
	margin-top: 30px;
}
.top-block {
	margin-top: 0;
}
.cts-coaches {
	text-align: center
}
.cts-coaches h2 {
	margin-bottom: 0;
}
.cts-coaches p {
	margin-top: 7px;
	margin-bottom: 0;
}
.coach-image {
	position: relative;
}
.coach-name {
	background: rgba(10,50,84,.7);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.coach-name {
	h3, h4, p, span {
		color: #fff;
	}
	h3, h4 {
		font-size: 16px;
		margin-bottom: 0;
	}
	h3 {
		margin-top: 38%;	
		font-size: 18px;
	}
	span {
		display: none;
	}
}
.coach-block:hover .coach-name {
	bottom: 0;
	top: auto;
	height: 42px;
	-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;
}
.coach-block:hover h3, .coach-block:hover h4, .coach-block:hover p {
	display: none;
}
.coach-block:hover span {
	display: block;
	line-height: 42px;
}
.coach-more {
	display: block;
	position: relative;
}
.coach-more {
	img {
		background-color:#8aa79e;
		width: 100%;
	}
	.coach-info {
		color: #fff;
		padding: 18px;
		position: absolute;
	}
	.coach-info h4 {
		color: #fff;
	}
	:hover + img {
		background-color: #a0b4aa;
	}
}
.cts-partners h3 {
	color: #8aa79e;
	font-size: 18px;
	margin-bottom: 39px;
	text-align: center;
	text-transform: uppercase;
}
// Homepage Twitter Feed

.home-twitter {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.rtw_main {
	font-size: 18px;
}
/*************** SECONDARY PAGES ***************/
body.secondary {

}
.secondary-hero {
	position: relative;
	max-height: 655px;
	overflow: hidden;
}
.secondary-hero {
	.description {
		position: absolute;
		top: 200px;
		width: 100%;
		text-align: center;
	}
	img {
		width: 100%;
	}
	.heroleft {
		padding-right: 50%;
		padding-left: 15%;
	}
	.heroright {
		padding-left: 50%;
		padding-right: 15%;
	}
	.herocenter {
		padding-left: 15%;
		padding-right: 15%;
	}
	h2 {
		color: #fff;
		text-shadow: 0px 1px 2px rgba(15, 47, 74, 0.8);
	}
	h2 span {
		font-size: 29px;
		font-weight:400;
	}
}
.secondary-title .row {
	text-align: center;
	padding-bottom: 0;
}
.secondary-title-only {
	text-align: center;
}
.tight {padding: 0;}
.alternate-hero {
	height: 500px;
	text-align: left;
	padding-right: 0;
}
.alternate-hero {
	.description {
		background-color: #000;
		height: 392px;
		margin-top: 108px;
		padding-top: 40px;
		padding-left: 40px;
		margin-left: -40px;
	}
	.image {
		background-color: #555;
		height: 500px;
	}
	h2 {
		color: #fff;
		text-shadow: 0px 1px 2px rgba(15, 47, 74, 0.8);
	}
	h2 span {
		font-size: 29px;
		font-weight:400;
	}
}
.full-width-image {
	position: relative;
}
.full-width-image {
	img {
		width: 100%;
	}
	.caption-container {
		background: rgba(0,0,0,0.7);
		color: #fff;
		position: absolute;
		bottom: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
	}
	.caption {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		max-width: 62.5rem;
		text-align: center;
	}
}
/*************** CAMP PAGES ***************/
.secondary-title .upcoming-camps-title {
	padding-bottom: 48px;
}
.camp-story .row {
	background: url('../images/camps-overlay.jpg') no-repeat;
}
.camp-facts {
	border-left: 1px solid #333;
	min-height: 200px;
	padding-left: 29px;
}
.camp-categories {
	background-color: #8aa79e;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}
.camp-categories {
	.inline-list {
		margin: 0;
		overflow: visible;
	}
	.inline-list > li {
		margin: 0;
	}
	:last-child > a {
		border-right: 1px solid #fff;
	}
	a {
		background: #8aa79e;
		display: block;
		color: #fff;
		font-family: $heading-font-family;
		font-weight: 400;
		font-size: 16px;
		padding: 17px 18px 17px 18px;
		border-left: 1px solid #fff;
	}
	a:hover {
		background: #a0b4aa;
	}
	.current-cat > a, .current-cat > a:hover {
		background: #699184;
		position: relative;
	}
	.current-cat > a:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #699184;
		border-width: 11px;
		margin-left: -11px;
	}
}
/*************** CAMP SINGLE PAGES ***************/
.camp-hero {
	height: auto;
	margin-top: 117px;
}
.camp-hero {
	date {
		color: #fff;
		font-family: $heading-font-family;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
	}
	.description {
		top: 135px;
	}
}
.camp-single-content, .coach-single-content {
	background-color: #fff;
	border-top: 1px solid #fff;
	padding: 0 30px 30px 30px;
	position: relative;
	min-height: 800px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}
.camp-single-content .row {
	padding-top: 0;
}
.camp-single-facts, .coach-single-facts, .blog-featured-content  {
	h4 span, h4.camp-single-type, h4.camp-register {
		color: #4a4240;
		display: block;
		font-size: 13px;
		margin-bottom: 0;
		text-transform: uppercase;
	}
	h4 {
		color: #1673bb;
		font-size: 18px;
		margin-bottom: 11px;
		text-transform: none;
	}	
}
.coach-single-facts {
	ul {
		font-family: $heading-font-family;
		margin-top: -11px;
		margin-left: 0;
		margin-bottom: 11px;
		list-style-type: none;

	}
	ul li {
		color: #1673bb;
		font-size: 16px;
	}
}
ul.camp-types, ul.bucketlist-location {
	font-family: $heading-font-family;
	font-size: 18px;
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;
}
ul.camp-types {
	li a {
		clear: both;
		display: block;
		color: #1673bb;
		line-height: 60px;
		margin-bottom: 7px;
		text-shadow: none;	
	}
	li a img {
		float: left;
	}
	li a span {
		margin-left: 7px;
	}
}
#camp_lodging, #camp_itinerary {
	width: 100%;
}
.camp-insight {
	color: #1673bb;
	margin-top: 30px;
}
.camp-single-facts .cts-button {
	margin-top: 11px;
}
.camp-specials {
	margin-top: 30px;
}
.camp-single-facts .cts-special-item {
		margin-bottom: 7px;
		padding-bottom: 7px;
}
.cts-special-item {
	h5 {
		color: $secondary-color;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 0;
		text-transform: none;
	}
}
a.camp-more-details {
	font-family: $heading-font-family;
	display: block;
	background: $secondary-color;
	color: #fff;
	position: absolute;
	bottom: 0;
	margin-left: -30px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
a.camp-more-details:hover {
	background: #1673bb;
		-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;

}
.camp-secondary-info .camp-single-content {
	min-height: 400px;
}
/*************** CAMP AND BUCKET-LIST SHARED STYLES ***************/
.camp-single-content .tabs {
	margin-left: -30px;
	margin-right: -30px;
	text-align: center;
	text-transform: uppercase; 
}
.camp-single-content .tabs dd {
	width: 25%;
}
.tabs dd > a {
	background: #8aa79e;
	color: #fff;
	font-family: $heading-font-family;
	font-weight: 400;
	font-size: 16px;
	padding-left: 0;
	padding-right: 0;
	border-left: 1px solid #fff;
}
.tabs dd:first-child a {
	border-left: none;
}
.tabs dd.active > a, .tabs dd.active > a:hover {
	background: #699184;
	position: relative;
}
.tabs dd.active > a:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #699184;
	border-width: 11px;
	margin-left: -11px;
}
.tabs dd > a:hover {
	background: #a0b4aa;
}
.tabs-content {
	padding-top: 29px;
}
.camp-secondary-info .camp-single-content .tabs dd {
	width: 16.66666666666667%;
}
.camp-secondary-info .camp-single-content .tabs dd > a {
	font-size: 14px;
	line-height: 18px;
}
.cts-cta {
	font-family: $heading-font-family;
	font-size: 29px;
}
/*************** SPECIAL BODY CLASSES ***************/
body.page-template-page-coaches-php, body.tax-camps_type, body.tax-bucketlist_type, body.page-template-page-blog-php, body.single-post, body.archive.category {
	margin-top: 117px;
}
/*************** BUCKET LIST PAGES ***************/
ul.bucketlist-location {
	color: #1673bb;
	margin-top: -11px;
	margin-bottom: 11px;
}
#bucketlist_gallery {
	width: 100%
}
/*************** COACH SINGLE PAGES ***************/
body.single-coaches {
	margin-top: 117px;
}
.single-coaches {
	h5 {
		margin-top: 26px;
	}
}
.coach-single-hero {
	float: left;
	max-width: 230px;
	margin-right: 26px;
	border: 1px solid #bec2c7;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
.coach-single-hero img {
	border: 7px solid #fff;
}
.coach-single-content {
	padding-top: 30px;
	padding-bottom: 78px;
}
.coach-single-content {
	h2 {
		margin-bottom: 30px;
	}
}
a.coachlist {
	background-color: #8aa79e;
	color: #fff;
	display: block;
	font-size: 18px;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: -30px;

}
/*************** ATHLETES FEED PAGE ***************/
body.page-template-page-athletes-php {
	margin-top: 117px;
}
.reveal-athlete h4 {
	color: #4a4240;
	font-size: 13px;
	margin-bottom: 0;
}
/*************** SPECIALS ***************/
body.page-template-page-specials-php {
	margin-top: 117px;
}
body.page-template-page-specials-php {
	.cts-special-item {
		border-bottom: 1px solid #ccc;
		margin-bottom: 11px;
		padding-top: 11px;
		padding-bottom: 11px;
	}
}
.cts-special-detail + h2 {
	margin-top: 30px;
}
.cts-special-detail {
	border-bottom: 1px solid #ccc;
	margin-bottom: 11px;
	padding-top: 11px;
	padding-bottom: 11px;
}
.specials-image {
	float: right;
	margin-right: 16px;
}
/*************** BLOG PAGES ***************/
.blog-featured-row {
	background-color: $primary-color;
}
.blog-featured-content {
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.blog-featured-content {
	h2 {
		color: #fff;
		font-size: 23px;
		font-weight: 400;
		margin-bottom: 30px;
		text-transform: none;
	}
	h4 span {
		color: #fff;
		opacity: 0.8;
	}
}
.blog-feed article, .cts-blog-archive article {
	padding-top: 0;
	padding-bottom: 30px;
	padding-right: 30px;
}
.cts-blog-archive article {
	border-bottom: 1px solid #bec2c7;
	padding-top: 30px;
}
.blog-meta {
	border-top: 1px solid #bec2c7;
	border-bottom: 1px solid #bec2c7;
	padding: 11px 0 9px 0;
}
.blog-meta  {
	h4 span {
		color: #4a4240;
		display: block;
		font-size: 13px;
		margin-bottom: 0;
		text-transform: uppercase;
	}
	h4 {
		color: #1673bb;
		font-size: 18px;
		float: left;
		margin-right: 30px;
		text-transform: none;
	}
	h4.categories {
		float: none;
		clear: both;
		margin-right: 0;
	}	font-size: 16px;
}
.cts-blog-single, .cts-blog-archive {
	padding-top: 48px;
	padding-right: 30px;
}
.cts-blog-single h1, .archive h1 {
	color: #0a3253;
	font-size: 39px;
	letter-spacing: normal;
	text-transform: none;
}
/*************** SIDEBAR ***************/
.sidebar {
	background: url('../images/sidebar-bkd.png') repeat-y left top;	
	border-left: 1px solid #ccc;
	margin-top: -48px;
	padding-top: 48px;
	padding-bottom: 48px;
}
/*************** MEDIA QUERIES ***************/
@media #{$small-only} { 
	.header-full {
		position: relative;
		background-color: rgba(10,50,83,1);
	}
	h1.logo {
		position: relative;
		text-align: center;
	}
	#megaMenu {
    	background-color: #051e37;
  	}
	.nav-secondary {
		display:none;
	}
	.home-hero {
		min-width:200px;
	}
	.home-hero {
		.orbit-container .orbit-slides-container>* .orbit-caption {
			background-color: #8aa79e;
			position: relative;
			width: 100%;
			margin-right: 0;
			top:0;
		}
		h2 {
			font-size: 30px;
			line-height: 30px;
			margin-bottom: 26px;
			margin-top: 18px;
		}
		h2 span {
			font-size: 22px;
		}
		.cts-button {
			margin-top: 0;
			margin-top: 0;
		}
	}
	.orbit-container .orbit-prev, .orbit-container .orbit-next {
		top: 20%;
	}
	.top-block {
		margin-top: 30px;
	}
	.section-dark img {
		margin-bottom: 0!important;
	}
	.col-2 {
		padding-top: 30px;
	}
	/* Buttons */
	.cts-button {
		margin-top: 18px;
	}
	/* Footer */
	.side-nav-footer {
	li ul {
		margin-bottom: 30px;
	}
	li ul a {
		border-bottom: 1px solid #444b52;
		font-family: $body-font-family;
		font-weight: $body-font-weight;
		font-size: 16px;
		margin-bottom: 0;
		padding-top: 11px;
		padding-bottom: 14px;
	}
	li.footer-login a {
		color: $secondary-color;
	}
	li.footer-login a:hover {
		opacity: .5;
	}
}
}